<ion-header>
    <ion-navbar>
        <ion-title>
            Login
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-input [(ngModel)]="email"></ion-input>
    <ion-input [(ngModel)]="password"></ion-input>

    <button ion-button (click)="login()">Login</button>

    <!-- <div *ngFor="let name of names">
        {{name}}
    </div>

    <div *ngIf="flag == false">
        {{complexObject.property1}}
        {{complexObject.property2}}
    </div> -->
</ion-content>