page-home {

    .button-ios {
        border-radius: 16px;
        height: 3.5em;
        font-size: 1.9rem;
        color: black;
        background-color: red;
        margin: 0.4rem 0.2rem;
        padding: 20px 1em;
    }

}
